#mod-submit-time{
	margin: 30px auto 40px;
	padding: 0 15px;
	max-width: 480px;
	.title{
		@include font($fontB,24px,$color3);
		margin-bottom: 10px;
	}
	.select-time{
		margin-bottom: 30px;
		select{
			width: 100%;
			padding: 10px;
			border: 1px solid #bdbdbd;
			border-radius: 2px;
			@include font($fontB,null,$color-text-1);
		}
	}
	.text-time{
		margin-bottom: 30px;
	}
	.check-date{
		margin-bottom: 15px;
		.select-hour-list{
			margin-bottom: 20px;
		}
		.delete-btn{
			background: url('../images/New-Layout/delete-time-btn.png') no-repeat;
			width: 20px;
			height: 20px;
			display: inline-block;
			@include position(relative,5px);
			margin-left: 15px;
		}
		.select-hour{
			width: 90px;
			padding: 5px 10px;
		}
		.time-date{
			padding: 15px 0 0 35px;
		}
		.to{
			margin: 0 5px;
		}
		.button{
			margin-bottom: 15px;
		}
		.add-block-time{
			@include font($fontB,12px,#569df1);
			text-decoration: none;
		}
		.add-block-time.show-time{
			background: url('../images/New-Layout/arrow-time-show.png') no-repeat 5px 50%;
		}
		.add-block-time.hide-time{
			background: url('../images/New-Layout/arrow-time-hide.png') no-repeat 5px 50%;
		}
		.apply-schedule{
			padding-left: 20px;
		}
		.not-mar{
			margin: 0;
		}
		.apply-schedule-date{
			margin-top: 10px;
			input[type=checkbox].css-checkbox + label.css-label {
				padding-left: 25px;
				margin-right: 25px;
			}
		}
		.apply-button{
			button{
				border: none;
				padding: 8px 20px;
			}
		}
	}
	input[type=checkbox].css-checkbox {
		position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
	}

	input[type=checkbox].css-checkbox + label.css-label {
		padding-left:35px;
		vertical-align:middle;
		cursor:pointer;
		margin: 0;
	}

	input[type=checkbox].css-checkbox:checked + label.css-label {
		background: url('../images/New-Layout/checkbox-bank.png') no-repeat ;
		@include font($fontB,null,$color3);
	}
	label.css-label {
		background: url('../images/New-Layout/checkbox-bank-uncheck.png') no-repeat 0 2px;
		@include font(null,null,#444);
	}
	.check-date-list{
		margin-bottom: 40px;
	}
	.button{
		.submit-btn{
			padding: 15px 0;
			@include font(null,16px,white);
			background: $color3;
			border-radius: 2px;
			display: block;
			text-decoration: none;
		}
	}
}