#form-register{
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	@include position(relative);
	background: url('images/background-register.png') left top no-repeat;
	background-size: cover;
	h3{
		@include font($fontSB,30px,null);
		margin: 0;
		margin-bottom: 40px;
	}
	.header-content{
		@include position(relative);
		span{
			display: inline-block;
		}
		.image-show-respon{
			width: 388px;
			margin-left: -110px;
			display: none;
		}
	}
	.background-image{
		.image-show{
			@include position(absolute,0,null,null,0,100);
			height: 100%;
		}
		.image-hide{
			opacity: 0;
			min-height: 515px;
		}
		img{
			width: 100%;
		}
	}
	.form-content-register{
		margin: 0 auto;
		padding: 0 20px 20px;
	}
	.content-form{
		max-width: 655px;
		padding-top: 50px;
		margin-left: -7.5%;
	}
	.content-form-register{
		@include position(relative);
		.image-show{
			@include position(absolute,0,null,null,0,-1);
			width: 50%;
			height: 100%;
			min-width: 575px;
		}
	}
	.button-submit{
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 768px) {
	#form-register{
		margin-top: 0;
		.content-form{
			margin: 0;
			padding-top: 0;
		}
		.header-content{
			border-bottom: 1px solid #ebebeb;
			margin-bottom: 30px;
			h3{
				@include font(null,22px,null);
				@include position(absolute,50%,25px);
				transform: translateY(-50%);
				text-align: right;
			}
			span{
				display: block;
			}
			.image-show-respon{
				display: block;
			}
		}
		.image-show,.background-image{
			display: none;
		}
	}
}