#mod-email-confirm{
	p{
		margin: 0;
	}
	.content{
		width: 100%;
		max-width: 750px;
		margin: 100px auto;
	}
	.thank{
		@include font(null,20px,#333);
		line-height: 28px;
	}
	.text{
		@include font(null,16px,#444,400);
		line-height: 24px;
		a{
			@include font(null,null,$color3);
			text-decoration: none;
		}
	}
	.btn{
		text-decoration: none;
		@include font(null,16px,white,600);
		display: block;
		max-width: 200px;
		margin: 0 auto;
		background-color: $color7;
		border-radius: 2px;
		padding: 13px 0;
	}
}