#mod-header{
	font-weight: lighter!important;
	background: white;
	width: 100%;
	padding: 5px 50px 12.5px;
	border-bottom: 2px solid #eee;
	.home-menu-image{
		margin-top: -10px;
		margin-left: -10px;
	}
	.logo{
		text-decoration: none;
		margin-top: 7px;
	}
	.home-text{
		@include font($fontSB,10px,$color-text-1);
	}
	.home-text:hover{
		text-decoration: none;
	}
	.left{
		padding-top:10px;
		.logo{
			padding-right:10px;
			text-decoration: none;
		}
		span{
			padding-left:10px;
		}
	}
	.right{
		padding-top: 30px;
		.hot-line{
			@include font($fontB,16px,$color-text-1);
		}
		.green-color{
			color: $color3;
		}
		.image{
			margin-right: 17.5px;
			margin-top: -5px;
		}
	}
}
@media only screen and (max-width: 920px) {
	#mod-header{
		.right{
			padding-top: 0;
			float: left;
		}
	}
}
@media only screen and (max-width: 615px) {
	#mod-header{
		padding: 5px 20px 12.5px;
		.left{
			.img-responsive{
				max-width: 230px
			}
		}
		.home-menu-image{
			img{
				max-width: 100px;
			}
		}
		.right{
			.hot-line{
				font-size: 10px;
			}
			.image{
				margin-right: 7.5px;
			}
		}
		.home-text{
			font-size: 7px;
		}
	}
}