#mod-header{
	font-weight: lighter!important;
	background: white;
	width: 100%;
	padding: 0 50px;
	border-bottom: 2px solid #eee;
	.home-text{
		@include font($fontSB,10px,$color-text-1);
	}
	.home-text:hover{
		text-decoration: none;
	}
	.img-responsive{
		display: inline-block;
	}
	.left{
		padding-top:10px;
		span{
			padding-left:10px;
		}
		.logo{
			padding-right:10px;
			text-decoration: none;
			margin-top: 7px;
		}
	}
	.right{
		padding-top: 30px;
		.hot-line{
			@include font($fontSB,16px,$color-text-1);
		}
		.green-color{
			color: $color3;
		}
		.image{
			margin-right: 17.5px;
			margin-top: -5px;
		}
	}
}
@media only screen and (max-width: 640px) {
	#mod-header{
		padding: 12.5px 20px 10px;
		.left{
			.home-image{
				width: 150px;
			}
			.icon-image{
				width: 26px;
			}
			.logo{
				margin-top: 0;
			}
		}
		.right{
			padding-top: 20px;
			width: 95px;
			span.green-color{
				display: block;
				min-width: 100px;
			}
			.hot-line{
				font-size: 9px;
			}
			.image{
				float: left;
				margin-right: 7.5px;
				width: 18px;
				margin-top: 2.5px;
			}
		}
		.home-text{
			font-size: 8px;
		}
	}
}
@media only screen and (max-width: 330px) {
	#mod-header{
		.right{
			float: left;
			padding-top: 0;
		}
	}
}