#learn-eng{
	background: url('../images/background-learn-eng.png') center -40px no-repeat;
	background-size: cover;
	text-align:center;
	padding: 60px 30px 40px;
	@include position(relative);
	.image-learn-eng{
		@include position(absolute);
		transform: translateY(-15%);
		z-index: 10;
		&.left{
			width: 338px;
			@include position(null,0,null,null,0);
		}
		&.right{
			width: 419px;
			@include position(null,0,0);
		}
	}
	.item{
		margin-bottom: 30px;
		padding: 0 20px;
	}
	.text-item{
		@include font(null,18px,white);
		background: $color3;
		padding: 27.5px 5px 35px;
		border-radius: 0 0 5px 5px;
		min-height: 140px;
		margin-top: -1px;
	}
}
@media only screen and (max-width: 1550px) {
	#learn-eng{
		background-position: center -10px;
	}
}
@media only screen and (max-width: 1366px) {
	#learn-eng{
		background-position: center 20px;
	}
}
@media only screen and (max-width: 978px) {
	#learn-eng{
		background-position: center 40px;
	}
}
@media only screen and (max-width: 1175px) {
	#learn-eng{
		padding: 60px 0 40px;
	}
}
@media only screen and (max-width: 1117px) {
	#learn-eng{
		.text-item{
			font-size: 14px;
		}
		.list{
			padding: 0 10px;
		}
		.item{
			padding: 0 10px;
		}
	}
}
@media only screen and (max-width: 768px) {
	#learn-eng{
		padding: 0 0 40px;
		.h2Title{
			padding: 0 20px;
			margin-bottom: 95px;
		}
		.image-learn-eng
		{
			&.left{
				width: 142px;
				top: 35px;
				left: -35px;
			}
			&.right{
				width: 126px;
				top: 50px;
				right: -5px;
			}
		}
	}
}