#mod-blog-list{
	.fake-image{
		background-position: center;
		background-size: cover;
	}
	.link-blog{
		display: none;
	}
	.link-blog.active{
		@include position(relative,-10px);
		a{
			@include font($fontSB,null,$color3);
		}
	}
	a{
		text-decoration: none;
		@include font(null,null,$color-text-1);
	}
	.border{
		border-bottom: 1px solid #e0e0e0;
	}
	.left{
		margin-bottom: 25px;
	}
	.info{
		@include font(null,10px,#999);
	}
	.filter-category{
		padding: 20px 0;
		a{
			@include font(null,null,#999);
		}
		.active{
			color: $color3;
		}
	}
	.blog-feature{
		.image-header{
			height: 240px;
			overflow: hidden;
			margin-bottom: 15px;
			@include position(relative);
			a{
				width: 100%;
				height: 100%;
				@include position(absolute,0,null,null,0);
			}
		}
		.feature-text{
			@include font($fontSB,18px,$color-text-1);
			margin-bottom: 20px;
		}
		.blog-feature-list{
			.blog-feature-item{
				margin-bottom: 20px;
				overflow: hidden;
				height: 80px;
			}
			.image-feature-thumb{
				margin-right: 10px;
				width: 110px;
				height: 65px;
			}
		}
	}
	.header-blog-link{
		margin-bottom: 5px;
	}

	.blog-category-list{
		.register-image{
			width: 100%;
			margin: 35px 0px;
		}
		.blog-category-item{
			margin-bottom: 25px;
		}
		.blog-category-image{
			width: 31.25%;
			min-width: 110px;
			height: 140px;
			position: relative;
			a{
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
		.header-link{
			margin: 0 0 10px;
			@include font($fontB,16px,$color-text-1);
		}
		.preview-link-text{
			@include font(null,null,$color-text-1);
		}
		.info{
			@include font(null,12px,#999);
		}
		.blog-category-text{
			padding-left: 20px;
			width: 68.75%;
		}
	}
	.pagination-blog{
		margin-top: 50px;
		.page-link{
			display: inline-block;
			border: 1px solid #999;
			border-radius: 2px;
			padding: 5px 0;
			width: 30px;
			height: 30px;
			@include font(null,null,#999);
		}
		.page-link:hover,.page-link.active{
			border: 1px solid $color3;
			background: $color3;
			@include font(null,null,white);

		}
	}
}
@media only screen and (max-width: 1023px) {
	#mod-blog-list{
		.link-blog{
			display: block;
		}
	}
}
@media only screen and (max-width: 768px) {
	#mod-blog-list{
		.blog-feature-list{
			padding: 0 15px;
		}
	}
}
@media only screen and (max-width: 730px) {
	#mod-blog-list{
		.blog-category-list{
			.header-link{
				@include font($fontR,14px,$color-text-1);
			}
			.preview-link-text{
				display: none;
			}
			.info{
				font-size: 10px;
			}
			.blog-category-text{
				padding-left: 10px;
			}
			.blog-category-item{
				margin-bottom: 10px;
			}
			.register-image{
				margin: 10px 0;
			}
			.blog-category-image{
				height: 65px;
			}
		}
	}
}
@media only screen and (max-width: 371px) {
	#mod-blog-list{
		.blog-category-list{
			.blog-category-image{
				margin-right: 10px;
			}
			.blog-category-text{
				float: none;
				width: 100%;
			}
		}
	}
}