#mod-tutor-profile{
	padding-bottom: 80px;
	margin-left: auto;
	margin-right:auto;
	.green-background{
		background: $color3;
	}
	span{
		&.name-certificate{
			@include font($fontB,16px);
		}
	}
	img{
		&.question-mark{
			margin-left:10px;
		}
	}
	h3{
		&.title-green{
			@include font($fontB,16px,$color7);
			padding-bottom:5px;
			border-bottom:1px solid #ececec;
		}
	}
	.content-profile{
		max-width: 700px;
		margin: 0 auto;
	}
	.message-alert{
		padding: 18px 50px;
		background-color: #dfedec;
		border-radius: 2px;
		position: relative;
		margin: 0 10px 30px;
		.close-btn{
			@include position(absolute,10px,10px);
			background: url('../images/New-Layout/close-btn-alert.png') no-repeat;
			width: 12px;
			height: 12px;
			cursor: pointer;
		}
	}
	.avatar-tutor{
		display: table;
		margin:0 auto;
		width: 90%;
		.avatar{
			float: left;
			margin-right:15px;
			position:relative;
			a.edit-avatar{
				background: $color3;
				border-radius:0;
				position:absolute;
				top:130px;
				left: 20px;
			}
		}
		.text-imfomation{
			a{
				text-decoration: underline;
				color: #444;
				padding-left:30px;
				display: inline-block;
			}
			.link{
				text-decoration: none;
			}
			.first{
				min-width: 225px;
				padding-bottom: 10px;
			}
			.mail{
				background:url(../images/mail-tutorprofile.png) no-repeat;
			}
			.lock{
				background:url(../images/lock.png) no-repeat;
				margin-top: 10px;
				margin-right: 40px;
			}
			.avail-time{
				background:url(../images/clock.png) no-repeat;
			}
			.payment-infor{
				background:url(../images/New-Layout/payment-info.png) no-repeat;
			}
			span{
				&.evaluate{
					text-decoration: underline;
				}
			}
			p{
				margin-top: 20px;
				&.create{
					a{
						padding-left:10px;
					}
				}
				&.timer{
					color:$color3;
					span{
						&.number-time{
							font-size: 26px;
							font-family: $fontB;

							padding-top:5px;
						}
					}
				}
			}
			ul{
				&.list-star{
					margin-bottom:0;
					margin-top: 10px;
					li{
						padding:0;
						margin: 0;
					}
				}
			}
		}
	}
	.list-detail-tutor{
		.list-tab{
			border:none;
			margin:60px auto 0;
			display: table;
			padding:11px 0;
			background:#eee;
			width: 100%;
			padding: 0;
			li{
				width: 25%;
				text-align: center;
				&.active,&:hover{
					background:$color3;
					a{
						color: #fff;
					}
				}
				a{
					display: block;
					color: #444;
					border:none;
					border-radius:0;
					text-decoration: none;
					margin: 0;
					background: transparent;
					padding: 10.5px 0;
				}
			}
		}
	}
	.tab-content{
		padding-top:20px;
		.day{
			input{
				width: 62.5%;
			}
		}
		select{
			width: 79.7%;
			border:none;
			border-bottom:1px solid #bdbdbd;
			background:none;
		}
		label{
			width: 120px;
			margin-top: 30px;
			font-weight: normal;
			&.day-work{
				width: 36%;
			}
			&.label-of-textarea{
				width: 100%;
			}
		}
		.submit{
			width: 110px;
			float: right;
			color: #fff;
			padding:10px;
			margin-top: 25px;
			border-radius:3px;
			border: none;
			background: #e0e0e0;
			color: #444;
		}
		.submit.active{
			color: white;
			background: $color3;
		}
		// .submit:hover{
		// 	color: white;
		// 	background: $color3;
		// }
		.enable{
			background: $color3;
			color: #fff;
		}
		.input-have-border{
			width: 82.3%;
			padding: 5px;
			border:1px solid #bdbdbd;
		}

		.add{
			color: $color7;
			float: left;
			text-decoration: none;
			display: block;
			margin-top: 35px;
			img{
				padding-right:10px;
			}
		}
		.delete{
			@include font(null,null,#f44336);
			text-decoration: none;
			display: block;
			margin-top: 20px;
			img{
				padding-right:10px;
			}
		}
		.margin-top{
			margin-top: 50px;
		}
		textarea{
			width: 100%;
		}

	}
	#imfomation-individual{
		#imfomation-account{
			label{
				width: 118px;
			}
			input[type='text']{
				width: 79.5%;
				border: none;
				border-bottom: 1px solid #bdbdbd;
				padding: 10px 0;
				@include font($fontSB,null,#384047);
			}
			input{
				&.submit{
					width: 110px;
				}
			}
		}
		label{
			margin-left: 20px;
		}
	}
	#for-you{
		label{
			margin-left:0;
		}
		input{
			width: 100%;
			height: 40px;
			&.submit{
				width: 110px;
			}
		}
	}
	#society{
		input{
			width: 100%;
			height: 40px;
			&.submit{
				width: 100px;
				margin-top: 0;
			}
			&.skype{

			}
			&.facebook{
				background:#3A5BA2;
				color: white;
				&:hover{
					background:#183980;
				}
			}
		}
		.child-society{
			margin-top: 20px;
			span{
				&.title-cn{
					color: #999;
				}
			}
		}
	}
	#education-and-job{
		input[type='text']{
			width: 82%;
			border: none;
			border-bottom: 1px solid #bdbdbd;
			padding: 10px 0;
			@include font($fontSB,null,#384047);
		}
		.infor-certificate{
			margin: 0 -30px;
			label{
				width: 100%;
				margin: 0;
			}
			.select-certificate{
				width: 79.7%;
				border: none;
				border-bottom: 1px solid #bdbdbd;
				background: none;
			}
			.input-certificate{
				background-color: #fafafa;
				border: 1px solid #e0e0e0;
				width: 40px;
				height: 40px;
				padding: 5px;
				text-align: center;
			}
			.infor-item{
				margin-bottom: 22px;
			}
			.label-certificate{
				padding-top: 10px;
				max-width: 75px;
			}
			.imgate-certificate{
				img{
					margin: 0 15px 0 auto;
				}
				.file-upload{
					position: relative;
					overflow: hidden;
					background-color: whitesmoke;
					border: 1px solid #bdbdbd;
					border-radius: 2px;
					@include font(null,12px,#444);
					padding: 10px 10px 10px 40px;
					background: url('../images/New-Layout/upload-btn.png') whitesmoke 10px center no-repeat ;
					margin: 20px 0 0;
				}
				.ita{
					@include font($fontI,font-size,color,font-weight,font-style);
				}

				.file-upload input.file-input {
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					padding: 0;
					font-size: 20px;
					cursor: pointer;
					opacity: 0;
					filter: alpha(opacity=0);
				}
			}
		}
		#specialized-and-skilled{
			label{
				width: auto;
			}
			input{
				width: 100%;
				height: 40px;
				&.submit{
					width: 110px;
					margin-top: 12px;
				}
			}
		}
		.col-xs-6{
			input[type='text']{
				width: 62.5%;
			}
		}
		.form-group{
			padding: 5px;
			background-color: white;
			border: 1px solid #bdbdbd;
			border-radius: 2px;
			width: 100%;
			height: 40px;
			color: #999;
		}
	}
	#teaching-imfomation{
		label{
			width: auto;
		}
		input{
			height: 40px;
			width: 100%;
			&.upload-save{
				border:none;
				border-radius:3px;
				background:#e0e0e0;
				color: #444;
				&:hover{
					background:#ccc;
				}
			}
		}
		#video{
		}
		#audio{
			.child-audio{
				margin-top: 30px;
				iframe{
					background:none;
				}
			}
		}
	}
	#your-post{
		.title-and-post{
			border-bottom:1px solid #ececec;
			h3{
				&.title-green{
					border-bottom:none;
					float: left;
				}
			}
			a{
				&.post{
					float: right;
					margin-top: 20px;
					background: #576366;
					border-radius: 2px;
					text-decoration: none;
					padding: 5px 10px;
					@include font($fontSB,14px,white);
					img{
						padding-right:5px;
						margin-top: -3px;
					}
				}
			}
		}
		a{
			text-decoration: none;
		}
		.content-blog-post{
			margin-top: 25px;
			.image-blog{
				width: 175px;
				float: left;
			}
			.text-coment{
				display: table;
				p{
					margin-top: 5px;
					line-height: 20px;
					margin-right: 50px;
				}
			}
		}
		.edit-post{
			background: #576366;
			border-radius: 2px;
			color: white;
			text-decoration: none;
			width: 50px;
			height: 30px;
			padding: 5px 13px;
		}
	}
}
@media only screen and(max-width:1023px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.tab-content{
				#imfomation-individual{
					label{
						margin-left:0;
					}
				}
			}
		}
	}
}
@media only screen and(max-width:767px){
	#mod-tutor-profile{
		#education-and-job{
			.infor-certificate{
				.imgate-certificate{
					width: 100%;
					text-align: center;
					img,.file-upload{
						margin: 0 auto 20px;
					}
				}
			}
		}
		.avatar-tutor{
			.text-imfomation{
				width: 100%;
				margin-top: 10px;
				p{
					margin-top:10px;
				}
			}
		}
		.list-detail-tutor{
			.tab-content{
				.margin-top{
					.button-save{
						margin-top: 10px;
					}
				}
				#teaching-imfomation{
					input{
						&.upload-save{
							width: 110px;
						}
					}
				}
			}
		}
	}
}
@media only screen and(max-width:728px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.tab-content{
				input{
					width: 100%;
				}
				select{
					width: 100%;
				}
				.day{
					input{
						width: 100%;
					}
				}
				#imfomation-individual{
					#imfomation-account{
						input{
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media only screen and(max-width:675px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.list-tab{
				li{
					width: 50%;
				}
			}
		}
	}
}
@media only screen and(max-width:648px){
	#mod-tutor-profile{
		.avatar-tutor{
			.avatar{
				width: 100%;
			}
			.text-imfomation{
				clear: both;
				padding-top:15px;
			}
		}
	}
}
@media only screen and(max-width:641px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.list-tab{
				margin-top: 35px;
			}
		}
	}
}

@media only screen and(max-width:610px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.tab-content{
				#imfomation-individual{
					#society{
						input{
							width: 96%;
						}
					}
				}
			}
		}
	}
}
@media only screen and(max-width:582px){
	#mod-tutor-profile{
		padding-top: 120px;
		.list-detail-tutor{
			.tab-content{
				input{
					width: 100%;
				}
				select{
					width: 100%;
				}
				#imfomation-individual{
					#imfomation-account{
						input{
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media only screen and(max-width:520px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.tab-content{
				#imfomation-individual{
					#society{
						input{
							width: 92%;
						}
					}
				}
				#teaching-imfomation{
					#audio{
						.child-audio{
							.audio-bar{
								width: 100%;
							}
							.button{
								width: 100%;
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and(max-width:465px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.tab-content{
				#imfomation-individual{
					#society{
						input{
							width: 87%;
						}
						.icon-social{
							width: 11%;
						}
						.bettwen{
							width: 72%;
						}
					}
				}
			}
		}
	}
}
@media only screen and(max-width:400px){
	#mod-tutor-profile{
		.list-detail-tutor{
			.tab-content{
				#imfomation-individual{
					#society{
						input{
							width: 83%;
						}
						.icon-social{
							width: 13%;
						}
						.bettwen{
							width: 70%;
						}
					}
				}
				#your-post{
					.content-blog-post{
						.image-blog{
							float: none;
							width: 100%;
							img{
								display: table;
								margin:0 auto;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 355px) {
	#mod-tutor-profile{
		padding-top: 160px;
		.list-detail-tutor{
			.list-tab{
				li{
					width: 100%;
				}
			}
		}
	}
}
@media only screen and(max-width:320px){
	#mod-tutor-profile{
		.avatar-tutor{
			.text-imfomation{
				display: table;
				padding-top:20px;
			}
			.avatar{
				img{
					margin: 0 auto;
				}
				a{
					&.edit-avatar{
						left: 55px;
					}
				}
			}
		}
		&.become-tutor{
			#registerForm{
				#phone{
					padding-left: 160px;
				}
				input[type="text"]{
					padding-left:40px;
				}
				.bg-select{
					left: 40px;
				}
			}
		}
	}
}