<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="remoteonly" defaultRedirect="index.html" />
    </system.web>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^index\.html" />
					<action type="None" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="." />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
        <staticContent>
            <mimeMap fileExtension=".tpl" mimeType="text/html" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
</configuration>