html{
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
	.canvas{
		position:relative;
	}
	&.full-frame{
		height:100%;
		overflow-y: hidden;
		body{
			@include sizeEx(100%);
			position: relative;
			overflow-x:hidden;
		}
		.view-container {
			@include sizeEx(100%);
			position: relative;
			overflow:hidden;
		}
		.mainView{
			@include sizeEx(100%);
			overflow:hidden;
		}
		.module{
			@include sizeEx(100%);
		}
	}
}
body{
	font-weight: lighter!important;
}
a{
	text-decoration: none;
}
.pos-relative{
	position: relative;
}
.button-submit{
	@include font($fontB,null,white);
	background: $color1;
	display: inline-block;
	padding: 13px 20px;
	border-radius: 5px;
	margin: 0 auto;
	text-decoration: none;
	border: none;
}
.button-submit:hover{
	@include font($fontB,null,white);
	text-decoration: none;
}
.content-register-kid{
	.button-submit{
		max-width: 230px;
		width: 100%;
	}
}
.green-color{
	color: $color3;
}
.blue-color{
	@include font($fontB,null,#4a9be2);
}
.pink-color{
	color: #fb3468;
}
.landing-page{
	.bzPopup{
		overflow: visible;
	}
	.bz-popup{
		background: transparent;
	}
	.mfp-close{
		top: -44px;
		right: -13px;
		font-size: 50px;
	}
	.mfp-close-btn-in .mfp-close{
		color: white;
		font-size: 40px;
	}
}
.module{
	padding-top:100px;
}
.content-register-kid{
	max-width: 690px;
	padding: 0 20px;
	margin: 0 auto;
}
.form-content-register{
	margin-bottom: 20px;
	.input-no-border{
		border: none;
		width: 100%;
		vertical-align: bottom;
		background: transparent;
		@include font($fontB,16px,#595959);
	}
	.form-group{
		border: 1px solid #ebebeb;
		border-radius: 5px;
		padding: 20px 15px 0;
		height: 56px;
		margin-bottom: 25px;
		@include position(relative);
	}
	.form-content-text{
		@include position(absolute,5px,null,null,15px,-1);
		transition: .2s ease all;
		@include font($fontB,16px,#595959);
		transform: translate(0,50%);
	}
	input.input-no-border:focus~.form-content-text ,input.input-no-border:valid~.form-content-text,
	input.input-no-border:focus~.form-content-text
	select.input-no-border:focus~.form-content-text,.to-top-text{
		transform: translate(0,0);
		@include font($fontB,10px,null,400);
	}
}
.content-header{
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	p{
		margin-bottom: 10px;
	}
	.image-header{
		@include position(absolute,0);
		margin-top: 0;
		&.left{
			left: 0;
			margin-left: -60px;
		}
		&.right{
			right: 0;
			margin-right: -60px;
		}
	}
}
.register{
	#mod-footer{
		border-top: 1px solid #ebebeb;
		.content-top{
			display: none;
		}
	}
}
@media only screen and (max-width:1750px){
	.container{
		max-width: 1500px;
	}
}
@media only screen and (max-width:1440px){
	.container{
		max-width: 1200px;
	}
}
@media only screen and (max-width:1280px){
	.container{
		max-width: 980px;
	}
}
@media only screen and (max-width: 600px) {
	.content-header{
		.image-header{
			display: none;
		}
	}
}
@media only screen and (max-width: 600px) {
	.form-content-register{
		.input-no-border{
			text-align: center;
			font-size: 14px;
		}
		.form-content-text{
			top: 15px;
			left: 50%;
			transform: translate(-50%,0);
			width: 100%;
			font-size: 14px;
			text-align: center;
		}
		input.input-no-border:focus~.form-content-text ,input.input-no-border:valid~.form-content-text,
		input.input-no-border:focus~.form-content-text
		select.input-no-border:focus~.form-content-text,.to-top-text{
			transform: translate(-50%,50%);
			top: 0;
		}
		.select-text{
			transform:translate(0,50%);
			left:15px;
			text-align:left;
			top: 10px;
		}
	}
}