html{
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
	.canvas{
		position:relative;
	}
	&.full-frame{
		height:100%;
		overflow-y: hidden;
		body{
			@include sizeEx(100%);
			position: relative;
			overflow-x:hidden;
		}
		.view-container {
			@include sizeEx(100%);
			position: relative;
			overflow:hidden;
		}
		.mainView{
			@include sizeEx(100%);
			overflow:hidden;
		}
		.module{
			@include sizeEx(100%);
		}
	}
}
body{
	font-weight: lighter!important;
}
.blog-width{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
	.content-left{
		max-width: 885px;
		min-height: 2225px;
		border-right: 1px solid #e0e0e0;
		.content{
			max-width: 800px;
			padding-bottom: 60px;
		}
	}
}
.pos-relative{
	position: relative;
}
.input-text-report{
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	background: url('../images/New-Layout/date-report.png') no-repeat 215px center white;
	padding: 10px;
	width: 250px;
}
#popup-list{
	.glyphicon-star-empty:before,.glyphicon-star:before{
		content: "";
		width: 30px;
		height: 28px;
		display: inline-block;
		@include position(relative,-7px);
	}
	.glyphicon-star:before{
		background: url('../images/New-Layout/star_review_bigger.png');
	}
	.glyphicon-star-empty:before{
		background: url('../images/New-Layout/star_empty_review_bigger.png');
	}
}
.image-cer-popup{
	padding: 30px 20px;
	.mfp-close{
		font-size: 40px;
	}
}
.sk-fading-circle {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	position: relative;
}

.sk-fading-circle .sk-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sk-fading-circle .sk-circle:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: $color3;
	border-radius: 100%;
	-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
	animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; } 
}
.tutor{
	#mod-header{
		.bottom{
			.find{
				.blog{
					background:none;
				}
				.search-tutor{
					background:#eee;
				}
			}
			.bottom{
				.right{
					.btn-in-helpPage{
						display: none;
					}
				}
			}
		}
		.header-test{
			display: none;
		}
		.header-home{
			display: none;
		}
		.header-post{
			display: none;
		}
		.menu-blog{
			.list-blog{
				display: none;
			}
			border-bottom:1px solid #ccc;
		}
	}
	#mod-footer{
		.footer-test{
			display: none;
		}
	}
}
.tutor-profile{
	#popup-payment{
		border-radius: 0;
		box-shadow: none;
	}
	#mod-header{
		.header-tutor-profile{
			display: block;
		}
		.header-blog{
			display: none;
		}
		.right{
			ul{
				li{
					&.button-become{
						display: none;
					}
					&.reg-log{
						display: none;
					}
				}
			}
			.btn-in-helpPage{
				display: none;
			}
		}
	}
}
.tutor-not-profile{
	.right{
		ul{
			li{

				&.profile{
					display: none;
				}
			}
		}
	}
	#mod-header{
		.bottom{
			display: none;
			.right{
				.btn-in-helpPage{
					display: none;
				}
			}
		}
	}
}
.blogList{
	#mod-header{
		.header-blog{
			.menu-blog{
				.list-blog{
					li{
						&.post{
							display: none;
						}
					}
				}
				.bottom{
					.right{
						ul{
							li{
								&.profile{
									display: none;
								}
							}
						}
						.btn-in-helpPage{
							display: none;
						}
					}
				}
			}
		}
	}
}
.home{
	.bzPopup{
		overflow: visible;
	}
	.bz-popup{
		background: transparent;
	}
	.mfp-close{
		top: -44px;
		right: -13px;
		font-size: 50px;
	}
	.mfp-close-btn-in .mfp-close{
		color: white;
		font-size: 40px;
	}
	#mod-header{
		.header-blog{
			display: none;
		}
		.header-test{
			display: none;
		}
		.header-post{
			display: none;
		}
		.bottom{
			.right{
				.btn-in-helpPage{
					display: none;
				}
			}
		}
	}
	#mod-footer{
		.footer-test{
			display: none;
		}
		.content{
			background: white;
		}
		.footer-general{
			padding: 0 15px;
			.container{
				padding: 0;
			}
			color: $color-text-1;
			a{
				color: $color-text-1;
			}
			.teacher-btn{
				color: white;
			}
			.bottom{
				border: none;
				.container{
					border-top: 1px solid #e0e0e0;
				}
			}
			.copy{
				color: #576366;
			}
		}
		.footer-home{
			display: block;
		}
	}
}
.blog{
	#mod-header{
		.bottom{
			.find{
				.blog{
					background:#eee;
				}
				.search-tutor{
					background:none;
				}
			}
			.right{
				.btn-in-helpPage{
					display: none;
				}
			}
		}
		.header-test{
			display: none;
		}
		.header-home{
			display: none;
		}
		.header-post{
			display: none;
		}
	}
	#mod-footer{
		.footer-test{
			display: none;
		}
	}
}
.test{
	#mod-header{
		.header-blog{
			display: none;
		}
		.header-home{
			display: none;
		}
		.header-post{
			display: none;
		}
		.bottom{
			.right{
				.btn-in-helpPage{
					display: none;
				}
			}
		}
	}
	#mod-footer{
		.footer-general{
			display: none;
		}
	}
}
.blogList{
	#mod-header{
		@include position(relative);
		max-width: 1220px;
		margin: 0 auto;
		padding: 0 10px;
		.header-blog{
			.style-menu{
				.logo{
					padding: 0;
				}
			}
			.menu-blog{
				.top{
					padding: 15px 0;
				}
				.account{
					margin-right: 0;
				}
			}
		}
	}
}
.blog-post{
	#mod-header{
		.header-blog{
			display: none;
		}
		.header-home{
			display: none;
		}
		.header-test{
			display: none;
		}
		.bottom{
			.right{
				.btn-in-helpPage{
					display: none;
				}
			}
		}
	}
	#mod-footer{
		.footer-test{
			display: none;
		}
	}
}
.help{
	#mod-header{
		.bottom{
			display: none;
			.find{
				.blog{
					background:#eee;
				}
				.search-tutor{
					background:none;
				}
			}
			.right{
				.button-become{
					display: none;
				}
				ul{
					li{
						&.profile{
							display: none;
						}
					}
				}
			}
		}
		.header-test{
			display: none;
		}
		.header-home{
			display: none;
		}
		.header-post{
			display: none;
		}
		.header-blog{
			.menu-blog{
				.list-blog{
					display: none;
				}
			}
		}
	}
	#mod-footer{
		.footer-test{
			display: none;
		}
	}
}
.verify{
	#mod-header {
		.link{
			display: none;
		}
		.bottom{
			display: none;
		}
		.header-post{
			display: none;
		}
		.header-home{
			display: none;
		}
		.menu-blog{
			.account{
				display: none;
			}
		}
		.logo-mb-not-home{
			display: none;
		}
	}
}

.complete{
	#mod-header{
		.bottom{
			display: none;
		}
		.header-test{
			display: none;
		}
		.header-home{
			display: none;
		}
		.header-post{
			display: none;
		}
		.header-blog{
			.menu-blog{
				.list-blog{
					display: none;
				}
			}
		}
	}
}
.landing-page{
	.bzPopup{
		overflow: visible;
	}
	.bz-popup{
		background: transparent;
	}
	.mfp-close{
		top: -44px;
		right: -13px;
		font-size: 50px;
	}
	.mfp-close-btn-in .mfp-close{
		color: white;
		font-size: 40px;
	}
	#mod-header{
		@include position(absolute);
		.header-blog,.header-test,.header-post{
			display: none;
		}
		.header-home {
			height: auto;
			position: relative;
			.link{
				display: none;
			}
			.right{
				.hot-line{
					display: inline-block;
				}
				a.register,a.log-in,.vn-flag{
					display: none;
				}
				.learn-trial-btn{
					display: inline-block;
				}
			}
		}
		.bottom{
			.right{
				.btn-in-helpPage{
					display: none;
				}

			}
		}
	}
	#mod-footer{
		.footer-test{
			display: none;
		}
		.content{
			background: white;
		}
		.footer-general{
			display: none;
		}
		.footer-home{
			display: block;
		}
		.footer-landing-page{
			display: block;
		}
	}
}
.module{
	padding-top:100px;
}
.bz-btn{
	text-transform: uppercase;
	@include font($fontR,14px,#fff);
	height: 40px;
	padding:0px 15px;
	border:none;
	border-radius: 3px;
	line-height: 40px;
	text-decoration:none;
	&:hover{
		color: #fff;
	}
}
a{
	text-decoration: none;
}

//Tooltip
.tooltipster-base .tooltipster-content{
	@include font(null,12px,#444,400);
	text-align: justify;
	.head{
		@include font(null,14px,#444,700);
		line-height: 20px;
		margin-bottom: 10px;
	}
}
.tooltipster-default .tooltipster-content{
	width: 500px;
	padding: 10px;
	span{
		border: none;
	}
}
.tooltipster-base{
	width: 500px;
}
.tooltipster-arrow-top span{
	width: 16px;
	height: 12px;
	border-top: none;
	margin: 0;
	background: url("../images/tooltip-arrow-question.png") center center;
	bottom: -12px;
	left: 43px;
}
.tooltipster-default{
	border: none;
	background: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.tooltipster-default{
	background: white;
	margin-left: 200px;
	border-radius: 2px;
}
#mod-tutor-list,#mod-tutor-detail,#mod-tutor-profile{
	.glyphicon-star-empty:before,.glyphicon-star:before{
		content: "";
		width: 22px;
		height: 22px;
		display: inline-block;
		margin-left: 2px;
	}
	.glyphicon-star:before{
		background: url('../images/New-Layout/star_review.png');
	}
	.glyphicon-star-empty:before{
		background: url('../images/New-Layout/star_empty_review.png');
	}
}
.popup-list{
	border-radius: 2px;
	box-shadow: none;
	overflow: visible;
	.review-popup[contenteditable=true]:empty:before{
		content: attr(placeholder);
		display: block;
		color: #999;
	}
	.content-popup{
		padding: 30px 20px;
	}
	.button-popup{
		a{
			padding: 10px 20px;
			text-decoration: none;
		}
		.submit{
			background: $color7;
			@include font(null,null,white,600);
			border-radius: 2px;
		}
		.cancel{
			@include font(null,null,#576366,600);
		}
	}
	.calendar-btn{
		width: 38px;
		height: 34px;
		background: url('../images/New-Layout/calendar.png') no-repeat center center white;
	}
	.calendar-btn:hover{
		background: url('../images/New-Layout/calendar.png') no-repeat center center #e6e6e6;
	}
	.header-popup{
		border-bottom: 1px solid #e0e0e0;
		padding: 15px 20px 5px;
		@include font(null,16px,null,400);
	}
	.star-popup{
		ul{
			margin-right: 15px;
			margin-bottom: 5px;
		}
		li{
			padding: 0;
		}
	}
	.review-popup{
		border: 1px solid #e0e0e0;
		border-radius: 2px;
		padding: 10px;
		min-height: 90px;
		cursor: text;
		margin: 30px 0 40px;
	}
	.review-header-popup{
		@include font($fontB,null,#444,600);
	}
}
@media only screen and (max-width:1750px){
	.container{
		max-width: 1500px;
	}
}
@media only screen and (max-width:1440px){
	.container{
		max-width: 1200px;
	}
}
@media only screen and (max-width:1280px){
	.container{
		max-width: 980px;
	}
}
@media only screen and (max-width: 1185px) {
	.blog-width{
		padding-top: 25px;
		.content-left{
			padding: 0 10px;
			max-width: 100%;
			border: none;
			min-height: auto;
			.content{
				max-width: 100%;
				padding-bottom: 30px;
			}
		}
	}
}
@media only screen and (max-width:1023px){
	.nav-question{
		display: none;
	}
	.container{
		padding:0 15px;
	}
	.blog-post{
		#mod-header{
			.header-post{
				display: none;
			}
		}
	}
	.general{
		#mod-header{
			.menu-mobile{
				.logo{
					a{
						&.logo-mb-in-home{
							display: none;
						}
					}
				}
			}
			.icon{
				.justify-icon-home{
					display: none;
				}
			}
		}
	}
	.home{
		#mod-header{
			.menu-mobile{
				background: #fff;
				border-bottom: 2px solid #eee;
				.logo{
					a{
						&.logo-mb-not-home{
							display: none;
						}
					}
				}
				.icon{
					&.justify-icon-not-home{
						display: none;
					}
				}
			}
		}
	}
	.landing-page{
		#mod-header{
			.menu-mobile{
				display: none;
			}
			.header-home{
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 603px) {
	.landing-page{
		#mod-header{
			.header-home{
				.left{
					width: 100%;
					.logo{
						width: 100%;
					}
				}
				.right{
					width: 100%;
				}
			}
		}
	}
}
@media only screen and (max-width:430px){
	.landing-page{
		#mod-header{
			.header-home{
				.right{
					.hot-line{
						margin-bottom: 5px;
					}
					.learn-trial-btn{
						margin: 0;
					}
				}
			}
		}
	}
}