html{
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
	.canvas{
		position:relative;
	}
	&.full-frame{
		height:100%;
		overflow-y: hidden;
		body{
			@include sizeEx(100%);
			position: relative;
			overflow-x:hidden;
		}
		.view-container {
			@include sizeEx(100%);
			position: relative;
			overflow:hidden;
		}
		.mainView{
			@include sizeEx(100%);
			overflow:hidden;
		}
		.module{
			@include sizeEx(100%);
		}
	}
}
body{
	font-weight: lighter!important;
}
.pos-relative{
	position: relative;
}
.landing-page{
	.bzPopup{
		overflow: visible;
	}
	.bz-popup{
		background: transparent;
	}
	.mfp-close{
		top: -44px;
		right: -13px;
		font-size: 50px;
	}
	.mfp-close-btn-in .mfp-close{
		color: white;
		font-size: 40px;
	}
	#mod-header{
		@include position(absolute);
		.header-blog,.header-test,.header-post{
			display: none;
		}
		.header-home {
			height: auto;
			position: relative;
			.link{
				display: none;
			}
			.right{
				.hot-line{
					display: inline-block;
				}
				a.register,a.log-in,.vn-flag{
					display: none;
				}
				.learn-trial-btn{
					display: inline-block;
				}
			}
		}
		.bottom{
			.right{
				.btn-in-helpPage{
					display: none;
				}

			}
		}
	}
	#mod-footer{
		.footer-test{
			display: none;
		}
		.content{
			background: white;
		}
		.footer-general{
			display: none;
		}
		.footer-home{
			display: block;
		}
		.footer-landing-page{
			display: block;
		}
	}
}
.module{
	padding-top:100px;
}
.bz-btn{
	text-transform: uppercase;
	@include font($fontR,14px,#fff);
	height: 40px;
	padding:0px 15px;
	border:none;
	border-radius: 3px;
	line-height: 40px;
	text-decoration:none;
	&:hover{
		color: #fff;
	}
}
a{
	text-decoration: none;
}
@media only screen and (max-width:1750px){
	.container{
		max-width: 1500px;
	}
}
@media only screen and (max-width:1440px){
	.container{
		max-width: 1200px;
	}
}
@media only screen and (max-width:1280px){
	.container{
		max-width: 980px;
	}
}
@media only screen and (max-width:1023px){
	.landing-page{
		#mod-header{
			.menu-mobile{
				display: none;
			}
			.header-home{
				display: block;
			}
		}
	}
}

@media only screen and (max-width: 603px) {
	.landing-page{
		#mod-header{
			.header-home{
				.left{
					width: 100%;
					.logo{
						width: 100%;
					}
				}
				.right{
					width: 100%;
				}
			}
		}
	}
}
@media only screen and (max-width:430px){
	.landing-page{
		#mod-header{
			.header-home{
				.right{
					.hot-line{
						margin-bottom: 5px;
					}
					.learn-trial-btn{
						margin: 0;
					}
				}
			}
		}
	}
}