#mod-blog-header{
	width: 100%;
	background: white;
	a{
		@include font($fontSB,null,$color-text-1);
		text-decoration: none;
		display: inline-block;
	}
	li{
		padding: 0;
	}
	&.affix{
		@include position(fixed,0,null,null,0,120);
	}
	.blog-link:hover{
		color: $color3;
	}
	.active{
		color: $color3;
	}
	.list-inline{
		margin: 0;
	}
	.left{
		.blog-link{
			margin-right: 40px;
		}
		.no-marg{
			margin-right: 0;
		}
	}
	.right{
		.search{
			background: url('../images/New-Layout/blog-search.png') no-repeat 0;
			padding-left: 25px;
		}
		.post{
			margin-left: 20px;
			background: url('../images/New-Layout/blog-post.png') no-repeat 0;
			padding-left: 25px;
		}
	}
	.list-inline{
		li{
			padding: 15px 0;
		}
	}
	.dropdown-list{
		@include position(relative);
		.link-sub-menu{
			display: block;
			padding: 10px 15px;
		}
		.link-sub-menu:hover{
			background-color: #f4f7f8;
		}
		.sub-menu{
			@include position(absolute,40px,null,null,0,100);
			width: 250px;
			display: none;
			padding: 10px 0;
			background-color: white;
			box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
		}
	}
	.dropdown-list:hover{
		.sub-menu{
			display: block;
		}
	}
	.content{
		max-width: 1220px;
		margin: 0 auto;
		padding: 0 10px;
		.border{
			border-bottom: 1px solid #e0e0e0;
		}
	}
}
// @media only screen and (max-width: 1200px) {
// 	#mod-blog-header{
// 		.right.float-right{
// 			float: left;
// 			margin-top: 10px;
// 		}
// 	}
// }
@media only screen and (max-width: 1023px) {
	#mod-blog-header{
		display: none;
	}
}