/****************************************************************************************
Description: Style cho các kiểu popup
*****************************************************************************************/
$popup-head-bg:                 #08AE7A;
$popup-head-color:              #fff;
$popup-head-size:               16px;

$popup-content-bg:              #fff;

$popup-control-bg:              #fff;
/***********************************/
.mfp-bg{
    background:#000;
}
.mfp-container {
    padding-left: 12px;
    padding-right: 12px;
}
.bzPopup{
    @include position(relative,null,null,null,null,100);
    box-shadow: 0px 3px 10px #999999;
    width: auto;
    margin: 12px auto;
    max-width: 100%;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    .pop-head{
        background-color: $popup-head-bg;
        padding:10px;
        position: relative;
        text-align: center;
        h3{
            @include font(null, $popup-head-size, $popup-head-color);
            text-transform: uppercase;
            margin:0;
            padding:5px;
        }
        .close-popup{
            @include position(absolute,50%,10px,null,null);
            @include sizeEx(20px);
            cursor: pointer;
            margin-top:-10px;
        }
    }
    .pop-content{
        background-color: $popup-content-bg;
        padding:15px;
    }
    .pop-controls{
        text-align: right;
        background-color: $popup-content-bg;
        padding:0 15px 15px;
    }
    &.hiddenClose{
        .mfp-close{
            display: none;
        }
    }
}
// Animations
.bzFromTop {
    // Init
    .bzPopupAnimation {
        opacity: 0;
        transition: all 500ms cubic-bezier(0.2,1,0.3,1);
        transform: translate3d(0,-100px,0);
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 500ms cubic-bezier(0.2,1,0.3,1);
    }
    // In
    &.mfp-ready {
        .bzPopupAnimation {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    // Out
    &.mfp-removing {
        .bzPopupAnimation {
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
}

// Animations
.bzZoom {
    // Init
    .bzPopupAnimation {
        opacity: 0;
        transition: all 300ms cubic-bezier(0.470, 0.000, 0.745, 0.715);
        transform: scale(0.5);
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }
    // In
    &.mfp-ready {
        .bzPopupAnimation {
            opacity: 1;
            transform: scale(1);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    // Out
    &.mfp-removing {
        .bzPopupAnimation {
            transition-duration:100ms;
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
}