#mod-test-result{
	@include font(null,null,#384047);
	max-width: 740px;
	margin: 125px auto 100px;
	padding: 0 20px;
	td.result{
		padding: 15px 10px;
	}
	.nav{
		@include position(fixed,25px,null,null,250px);
		a{
			@include font($fontB,null,$color-text-1);
			text-decoration: none;
		}
		span{
			margin: 0 10px;
		}
	}
	.score{
		margin-bottom: 10px;
		.score-text-info{
			margin-right: 50px;
			@include font(null,null,$color-text-1);
		}
		.score-text-info.no-margin{
			margin-right: 0;
		}
	}
	.result-table{
		width: 100%;
	}
	.test-review-text{
		margin: 0;
	}
	.test-time-count,.test-review{
		@include font($fontB);
	}
	.test-info-text{
		margin-bottom: 30px;
		@include font(null,16px,#555);
	}
	.test-time-count{
		margin-right: 30px;
	}
	.green-color{
		@include font($fontB,20px,$color3);
	}
	.test-time-item{
		margin-bottom: 40px;
	}
	.test-time-item:last-child{
		margin-bottom: 0;
	}
	.test-time,.score{
		margin-bottom: 20px;
	}
	.title-test-list{
		@include font(null,16px);
		margin-bottom: 20px;
	}
	.btn-again{
		margin: 50px auto 0;
		.button{
			padding: 10px 25px 10px 45px;
			@include font($fontB,16px,white);
			border-radius: 2px;
			text-decoration: none;
			margin: 0 2px;
			display: inline-block;
			margin-bottom: 10px;
		}
		.do-again-test{
			background: url('../images/New-Layout/do-again-test.png') 15px 50% no-repeat $color3;
		}
		.download{
			background: url('../images/New-Layout/download-btn.png') 15px 50% no-repeat #576366;
			border: none;
		}
	}
}