#mod-step-2{
	#selectEnglishValidateTxt{
		display:none;
		color: red;
	}
	#alert-about{
		@include font(null,12px,#f44336);
		display: none;
	}
	.texarea{
		width: 100%;
		height: 160px;
		padding: 10px;
		background-color: white;
		border-radius: 2px;
		padding: 10px;
	}
	.head{
		margin-bottom: 5px;
	}
	.file-upload{
		@include position(relative,20px);
		span{
			@include font(null,null,#444);
			border: 1px solid $color2;
			background: url("../images/upload-voice.png") 15px center no-repeat whitesmoke;
			border: 1px solid #bdbdbd;
			border-radius: 2px;
			cursor: pointer;
			padding: 10px 10px 10px 40px;
		}
		.upload{
			@include position(absolute,0,null,null,0);
			position: absolute;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}
	.next{
		margin-bottom: 50px;
	}
	.form-group{
		padding: 5px;
		background-color: white;
		border-radius: 2px;
		width: 100%;
		height: 40px;
		color: #999;
		input{
			width: 100%;
			border: none;
		}
	}
	.about{
		margin-bottom: 50px;
	}
	.sub{
		float: left;
		background-color: whitesmoke;
		border-radius: 2px;
		margin-right: 5px;
		padding: 5px;
		color: #444;
		.delete{
			margin-left: 10px;
			margin-right: 5px;
			cursor: pointer;
		}
	}
	.voice{
		margin-bottom: 75px;
	}
	.padd{
		padding: 7px;
	}
	.subject,.experience,.method,.certificates{
		margin-bottom: 30px;
	}
}