#why{
	padding: 0 50px;
	.h2Title{
		max-width: 650px;
	}
	.header{
		max-width: 835px;
		margin: 0 auto;
		@include position(relative);
		padding: 0 30px;
	}
	.image-bird{
		@include position(absolute);
	}
	.bird-left{
		@include position(null,-20px,null,null,0px);
	}
	.bird-right{
		@include position(null,null,0px,0px,null);
	}
	.list-why{
		font-size: 0;
		p{
			margin-bottom: 25px;
		}
		p:last-child{
			margin: 0;
		}
		.left{
			padding-left: 0;
			padding-right: 10px;
		}
		.right{
			padding: 0;
		}
		.content{
			@include font(null,13px,$color-text-1);
		}
		.item-why{
			float: none;
			display: inline-block;
			font-size: 13px;
			vertical-align: top;
			margin-bottom: 70px;;
			.content-why{
				padding-left: 90px;
				@include position(relative);
			}
			.img-why{
				max-width: 80px;
				@include position(absolute,0,null,null,0);
			}
			.green-color{
				font-size: 18px;
			}
		}
	}
}
@media only screen and (max-width: 620px) {
	#why{
		.bird-left{
			width: 35px;
		}
		.bird-right{
			width: 28px;
		}
	}
}
@media only screen and (max-width: 768px) {
	#why{
		padding: 0 20px;
	}
}