#mod-verify{
	padding-top: 150px;
	strong{
		@include font(null,20px,#333,700);
	}
	.image-complete{
		margin-right: 30px;
	}
	.content{
		max-width: 790px;
		margin: 0 auto 130px;
		padding: 0 20px;
		width: 100%;
	}
	.green-color{
		color: $color7;
	}
	.btn-to-home{
		@include font(null,16px,white,700);
		background: $color3;
		height: 50px;
		padding: 15px 0;
		width: 200px;
		display: inline-block;
		text-decoration: none;
	}
	.success-title{
		@include font(null,24px,$color3,700);
		text-align: center;
		margin-bottom: 70px;
	}
	.content-success-payment{
		max-width: 450px;
		margin: 0 auto 50px;
	}
	.text-success-payment{
		margin-bottom: 140px;
		p{
			@include font(null,16px,null,400);
			margin: 0;
		}
	}
}