#mod-landing-page{
	p{
		margin: 0;
	}
	h1{
		font-family: $fontR;
		font-size: 44px;
		margin: 0;
	}
	h2{
		font-family: $fontSB;
		margin: 55px auto;
	}
	.padding-common{
		padding: 0 50px;
	}
	.zero-padding{
		padding: 0;
	}
	.h3Title{
		@include font($fontSB,18px);
	}
	.button-submit{
		padding: 15px 0;
		margin-bottom: 35px;
	}
}
@media only screen and (max-width: 768px) {
	#mod-landing-page{
		h1{
			font-size: 20px;
			line-height: 22px;
		}
		h2{
			font-size: 22px;
			line-height: 24px;
			margin: 24px 0;
		}
	}
}