#mod-landing-page{
	p{
		margin: 0;
	}
	h1{
		@include font(null,28px,$color-text-1);
		margin: 0 0 10px;
		line-height: 42px;
	}
	.padding-common{
		padding: 0 50px;
	}
	.h2Title{
		@include font($fontR,28px);
		text-transform: none;
		max-width: 660px;
		margin: 0 auto 65px;
		line-height: 42px;
	}
	.h3Title{
		@include font($fontSB,18px);
	}
	.relative-show{
		@include position(relative,null,null,null,null,100);
	}
	.time-count{
		margin-top: 22.5px;
		.green-color{
			margin-bottom: 20px;
			@include font(null,18px,null);
		}
		.clock{
			display: inline-block;
			.time{
				display: inline-block;
				@include font(null,48px,$color3);
				line-height: 1;
			}
			.between,.bottom{
				color: $color-text-1;
			}
			.between{
				margin: -5px 30px 0;
			}
			.bottom{
				font-size: 18px;
			}
		}
	}
}