#mod-account{
	.header{
		background:#00d2c0;
		height: 50px;
		padding:15px 0 15px 20px;
		.logo{
			border-right: 1px solid #fff;
			padding-right:30px;
		}
		.text{
			color: #fff;
			padding-left:20px;
		}
	}
	.content{
		margin-top: 100px;
	}
	.complete{
		float: left;
		margin-right: 20px;
	}
	.h3Title{
		@include font($fontB,20px);
	}
	.message{
		display: table;
	}
	.text-message{
		@include font(null,16px);
	}
	.link{
		@include font(null,null,#0BC7B4);
	}
	.home-back{
		background: #00d2c0;
		height: 50px;
		display: block;
		max-width: 200px;
		width: 100%;
		text-align: center;
		line-height: 50px;
		margin:80px auto 0;
		text-decoration:none;
		font-size: 16px;
	}
}