#mod-tutor-regsiter-success{
	text-align: center;
	h3{
		&.h3Title{
			@include font($fontB,24px,#0BC7B4);
		}
	}
	p{
		color: #444;
		&.in-waiting{
			margin:50px 0 30px 0;
		}
	}
	.bz-btn{
		background-color: $color3;
		@include font($fontSB,16px,#fff);
		display: block;
		max-width: 230px;
		margin:40px auto 0;
		text-decoration: none;
	}
	ul{
		margin-top: 30px;
		li{
			padding: 10px 12px;
		}
	}
}