#mod-blog-home{
	a{
		text-decoration: none;
		@include font(null,null,$color-text-1);
	}
	.fake-image{
		background-position: center;
		background-size: cover;
	}
	.border{
		border-bottom: 1px solid #e0e0e0;
	}
	.info{
		@include font(null,10px,#999);
	}
	.left{
		margin-bottom: 25px;
	}
	.header-blog-link{
		@include font(null,null,#333);
		margin-bottom: 5px;
		display: block;
	}
	.fake-p{
		display: block;
		margin-bottom: 10px;
	}
	.image-content{
		height: 100%;
	}
	.header-blog-news{
		padding: 30px 0;
		h2{
			@include font($fontSB,18px,$color3);
			margin: 0;
		}
		.text{
			border-left: 2px solid $color3;
			padding-left: 20px;
			margin-left: -20px;
		}
	}
	.content-news-list{
		.content-news-item{
			border-top: 1px solid #e0e0e0;
			padding: 10px 0;
			.image-content{
				padding: 0;
				display: none;
				margin-right: 10px;
			}
		}
	}
	.news-links-list{
		.news-links-item{
			padding: 0 10px 15px;
			a{
				height: 97px;
			}
			a.fake-p{
				height: auto;
			}
			.href-image{
				padding: 0;
				margin-bottom: 10px;
			}
		}
	}
	.content-teachnical{
		.image-teachnical{
			margin-bottom: 10px;
			img{
				width: 100%;
			}
		}
		.text-teachnical{
			margin-bottom: 25px;
			@include font($fontSB,16px,$color-text-1);
			img{
				margin-right: 5px;
			}
		}
	}
	.content-template{
		.image-template{
			height: 140px;
			margin-bottom: 10px;
			position: relative;
			padding: 0;
			a{
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
		.template-title{
			@include font($fontB,16px);
		}
		.template-text{
			@include font(null,12px);
		}
	}
	.blog-feature{
		.image-header{
			height: 240px;
			overflow: hidden;
			margin-bottom: 15px;
			@include position(relative);
			a{
				width: 100%;
				height: 100%;
				@include position(absolute,0,null,null,0);
			}
		}
		.feature-text{
			@include font($fontSB,18px,$color-text-1);
			margin-bottom: 20px;
		}
		.blog-feature-list{
			.blog-feature-item{
				margin-bottom: 20px;
				overflow: hidden;
				height: 80px;
			}
			.image-feature-thumb{
				margin-right: 10px;
				width: 110px;
				height: 65px;
			}
		}
	}
}
@media only screen and (max-width: 1260px) {
	#mod-blog-home{
		.header-blog-news{
			.text{
				margin-left: -10px;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	#mod-blog-home{
		.blog-feature-list{
			padding: 0 15px;
		}
		.news-links-list{
			margin-top: 10px;
			padding: 0 10px;
			.news-links-item{
				padding: 0 20px;
				a{
					float: left;
					min-width: 110px;
					margin-right: 10px;
					max-height: 65px;
				}
				a.fake-p{
					float: none;
					display: block;
				}
			}
		}
		.content-news-list{
			.content-news-item{
				border: none;
				padding-bottom: 0;
				.image-content{
					display: block;
					width: 25%;
					min-width: 110px;
					height: 65px;
				}
			}
		}
		.content-template{
			.text-template{
				padding-left: 10px;
			}
			.image-template{
				height: 65px;
			}
		}
		.content-teachnical{
			.text-teachnical{
				font-size: 14px;
			}
		}
	}
}
@media only screen and (max-width: 400px) {
	#mod-blog-home{
		.content-teachnical{
			.text-teachnical{
				min-height: 40px;
			}
		}
		.content-template{
			.image-template{
				min-width: 110px;
				margin-bottom: 30px;
				margin-right: 10px;
			}
			.text-template{
				float: none;
				width: 100%;
			}
		}
	}
}