#mod-class-list{
	.content{
		max-width: 840px;
		padding: 0 20px;
		margin: 0 auto;
	}
	.header{
		padding: 0 0 30px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e0e0e0;
		.text-header{
			@include font($fontB,16px,$color3);
		}
	}
	.course-item{
		padding-bottom: 30px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e0e0e0;
		.head-detail{
			@include font($fontB,null,$color-text-1);
		}
		.penalty{
			color: #f44336;
		}
		.information{
			margin-bottom: 20px;
		}
		.course{
			margin-right: 30px;
			.course-infor{
				@include font($fontB,16px,#384047);
			}
		}
		.status-text{
			border-radius: 2px;
			padding: 3px 7px;
			@include font($fontSB,12px,white);
		}
		.today{
			background-color: #55cb5d;
		}
		.trial{
			background-color: #ff7416;
		}
		.tomorrow{
			background-color: #569df1;
		}
		.closed{
			background-color: #f5a623;
		}
		.members{
		}
		.member{
			margin-right: 60px;
			margin-bottom: 30px;
			color: #384047;
			.image-avatar{
				margin-right: 10px;
				img{
					width: 35px;
					height: 35px;
					border-radius: 100%;
				}
			}
			.name{
				max-width: 161px;
				@include font($fontB,null,null);
			}
		}
		.time{
			.detail-course{
				margin-right: 20px;
			}
			.text{
				padding-top: 10px;
			}
		}
		.detail-btn{
			@include font($fontR,null,white);
			padding: 10px 20px;
			text-decoration: none;
			background-color: $color6;
			border-radius: 2px;
			display: inline-block;
		}
	}
}
@media only screen and (max-width: 535px) {
	#mod-class-list{
		.course-item{
			.detail{
				width: 100%;
				margin-top: 20px;
				text-align: right;
			}
		}
	}
}