#talk-about{
	padding: 0 20px;
	@include position(relative);
	.image-talk-about{
		@include position(absolute);
		z-index: 1;
		&.first{
			@include position(null,20px,null,null,0);
		}
		&.second{
			@include position(null,100px,0);
		}
	}
	.header{
		font-size: 28px;
		margin-bottom: 75px;
		.green-color{
			font-size: 64px;
			display: inline-block;
			margin-right: -10px;
		}
	}
	.comment-list{
		max-width: 970px;
		margin: 0 auto;
		@include position(relative,null,null,null,null,100);
		.comment-content{
			font-family: $fontB;
		}
		.comment-item{
			margin-bottom: 10px;
		}
		.comment-parent-detail{
			padding-top: 42.5px;
		}
		.image-parent{
			&.float-left{
				margin-right: 10px;
			}
			&.float-right{
				margin-left: 10px;
			}
		}
		.comment-text{
			max-width: 551px;
			line-height: 24px;
			@include position(relative);
			margin-bottom: -35px;
			p{
				padding: 0 30px;
				@include position(absolute,42%);
				transform: translateY(-50%);
			}
		}
		.image-talk{
			width: 100%;
		}
		.float-left{
			.comment-text{
				margin-left: 70px;
			}
		}
		.float-right{
			.comment-text{
				margin-right: 70px;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	#talk-about{
		padding-top: 0;
		.header{
			font-size: 15px;
			.green-color{
				display: block;
				font-size: 31px;
			}
		}
		.image-talk-about{
			&.first{
				width: 151px;
				@include position(null,10px,null,null,-5px);
			}
			&.second{
				width: 99px;
				@include position(null,50%,-5px);
			}
		}
	}
}
@media only screen and (max-width: 550px) {
	#talk-about{
		.header{
			margin-bottom: 0;
		}
		.image-parent{
			width: 58px;
		}
		.comment-list{
			.comment-text{
				font-size: 8px;
				line-height: 13px;
				margin-bottom: -10px;
			}
			.comment-parent-detail{
				padding-top: 10px;
				font-size: 10px;
			}
			.float-left{
				.comment-text{
					margin-left: 45px;
				}
			}
			.float-right{
				.comment-text{
					margin-right: 45px;
				}
			}
		}
		.image-talk-about{
			&.first{
				@include position(null,-50px,null,null,-5px);
			}
			&.second{
				margin-top: -25px;
			}
		}
	}
}
@media only screen and (max-width: 350px) {
	#talk-about{
		.image-talk-about{
			&.first{
				top: -65px;
			}
			&.second{
				margin-top: -50px;
			}
		}
	}
}
@media only screen and (max-width: 320px) {
	#talk-about{
		.comment-list{
			.comment-text{
				p{
					padding: 0 10px;
				}
			}
		}
	}
}