#mod-footer{
	color: #dfedec;
	.content{
		background-color: #2d343a;
	}
	.footer-landing-page{
		display: none;
		background: white;
		color: $color-text-1;
		a{
			color: $color-text-1;
			text-decoration: none;
		}
		.teacher-btn{
			color: white;
		}
		.top{
			padding:40px 0 50px;
			.head{
				font-family: $fontB;
			}
		}
		.bottom{
			border: none;
			.container{
				border-top: 1px solid #e0e0e0;
			}
		}
		.copy{
			margin: 20px 0;
			.text{
				color: #6C7A8B;
				font-size: 12px;
				margin:0px;
			}
		}
		.col-1{
			padding-right: 15px;
			width: 300px;
		}
		.link{
			@include font(null,null,$color7);
		}
		.logo{
			margin-bottom: 15px;
		}
		.col{
			padding-right: 35px;
		}
		.images{
			margin-top: 20px;
		}
	}
}
@media only screen and (max-width: 500px) {
	#mod-footer{
		.footer-landing-page{
			.col-1{
				width: 100%;
				margin-bottom: 50px;
			}
			.col-3{
				text-align: left;
				float: left;
			}
		}
	}
}