#mod-footer{
	.relative-show{
		@include position(relative,null,null,null,null,100);
	}
	.content-top{
		padding: 55px 50px 60px;
		color: white;
		background: $color3;
		@include position(relative);
		.background-image{
			@include position(absolute,0,0,0,null,1);
			height: 100%;
		}
		.detail{
			@include font($fontB,18px,null);
			margin-bottom: 42px;
			p{
				margin-bottom: 5px;
			}
		}
		.address{
			p{
				margin-bottom: 10px;
			}
		}
		.image-home{
			margin-bottom: 35px;
		}
	}
	.content-bottom{
		padding: 20px 50px;
		@include font(null,12px,#6C7A8B);
		p{
			margin: 0;
		}
	}
}
@media only screen and (max-width: 855px) {
	#mod-footer{
		.image-home{
			width: 88px;
		}
		.content-top{
			padding: 20px;
			.detail,.address{
				font-size: 10px;
			}
			.background-image{
				display: none;
			}
			.image-home{
				margin-bottom: 15px;
			}
			.detail{
				margin-bottom: 20px;
			}
			.address{
				p{
					margin: 0;
				}
			}
		}
		.content-bottom{
			padding: 20px;
		}
	}
}