#mod-list-test{
	max-width: 350px;
	margin: 50px auto 0;
	.nav{
		@include position(fixed,25px,null,null,250px);
		a{
			@include font($fontB,null,$color-text-1);
			text-decoration: none;
		}
		span{
			margin: 0 10px;
		}
	}
	.title-list{
		margin-bottom: 65px;
		@include font($fontB,18px,#384047);
	}
	.list-test-btn{
		background: url('../images/New-Layout/arrow-register.png') 30px 50% $color3 no-repeat;
		border-radius: 2px;
		@include font($fontB,24px,white);
		text-decoration: none;
		margin-bottom: 15px;
		display: block;
		padding: 15px 0 15px 95px;
	}
	.test-list-link{
		max-width: 350px;
		margin: 0 auto 20px;
	}
}